<div class="row justify-content-md-center g-4 mb-5">
  <% orders = @dash_orders.unscope(:order).select("orders.status, count(orders.id)").group(:status).order(status: :desc).uniq %>
  <% total = @dash_orders.count %>

  <div class="col-sm-auto">
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item text-center">
        <h5 class="mb-1"><%= total %></h5>
        <small>Total</small>
      </li>
      <li class="list-group-item text-center">
        <h5 class="mb-1"><i class="bi bi-bar-chart-fill"></i></h5>
        <small>100%</small>
      </li>
    </ul>
  </div>

  <% orders.each do |order| %>
    <div class="col-sm-auto">
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item text-center">
          <h5 class="mb-1"><%= order.count %></h5>
          <small><%= order.status.humanize %></small>
        </li>
        <li class="list-group-item text-center">
          <h5 class="mb-1"><i class="bi bi-bar-chart-fill"></i></h5>
          <small><%= order.count*100/total %>%</small>
        </li>
      </ul>
    </div>
  <% end %>
</div>

<!-- Gráfico de linha sobre faturamento no mês -->
<div class="row mb-5">
  <%
    billing = @dash_orders.unscope(:order).group_by_day(:created_at).count

    values = @dash_orders.unscope(:order)
                         .select("DATE(orders.created_at) AS date, sum(products.price_cents*order_products.quantity) as price_cents")
                         .joins(:products)
                         .where("orders.status != 'canceled'")
                         .group("orders.created_at")
  
    values_hash = {}
    values.each { |order| values_hash[order.date] = humanized_money Money.new(order.price_cents, Product.new.price.currency.iso_code) }

    billing.each do |k, v|
      if values_hash.keys.include?(k)
        billing[k] = values_hash[k]
      else
        billing[k] = 0
      end
    end

    series = [{ name: "Billing", data: billing }]
  %>
​ <% options = {
      title: 'Billing per Day',
      xtitle: 'Days',
      ytitle: 'Amount (€)',
      dataLabels: {
        enabled: false
      },
      stroke: {
        curve: 'smooth',
      }
    } %>
​
  <%= area_chart(series, options) %>
</div>

<!-- Gráfico de barra sobre quantidade de pedidos por hora -->
<div class="row mb-5">
  <%
    orders = @dash_orders.unscope(:order).where("orders.status != 'canceled'").group_by_hour_of_day(:created_at).count

    series = [{ name: "Orders", data: orders }]
    options = {
      title: 'Orders per Hour',
      xtitle: 'Hours',
      ytitle: 'Quantity'
    }
  %>
​
  <%= column_chart(series, options) %>
</div>

<!-- Gráficos de pizza sobre quantidade de produtos vendidos -->
<div class="row justify-content-evenly g-2">
  <div class="col-lg-5">
    <% datas = @dash_orders.unscope(:order)
                      .select("products.name, count(products.id)")
                      .joins(:products)
                      .joins("INNER JOIN categories ON products.category_id = categories.id")
                      .where(categories: { active: true }).where(products: { active: true })
                      .group("products.id").order("products.name")
    series = []
    series = datas.map { |data| series << { name: data.name, data: data.count } }
    options = {
      title: 'Products',
      legend: 'left'
    } %>
    ​
    <%= pie_chart(series[0], options) %>
  </div>
  <div class="col-lg-5">
    <% datas = @dash_orders.unscope(:order)
                      .select("categories.name, count(categories.id)")
                      .joins(:products)
                      .joins("INNER JOIN categories ON products.category_id = categories.id")
                      .where(categories: { active: true }).where(products: { active: true })
                      .group("categories.id").order("categories.name")
    series = []
    series = datas.map { |data| series << { name: data.name, data: data.count } }
    options = {
      title: 'Categories',
      legend: 'left',
      markers: {
        size: 3
      }
    } %>
    ​
    <%= pie_chart(series[0], options) %>
  </div>
</div>
