<% statuses = ['registered', 'closed', 'canceled'] %>

<% statuses.each do |status| %>
  <% muted = status == 'canceled' ? 'text-muted' : nil %>
  <% success = status == 'closed' ? 'border-success' : nil %>

  <div class="accordion mb-3" id="accordionFlushOrders">
    <% @orders.send("#{status.to_s}").each do |order| %>
      <div class="accordion-item <%= success %>">
        <h2 class="accordion-header" id="heading<%= order.id %>">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse<%= order.id %>" aria-expanded="false" aria-controls="collapse<%= order.id %>">
            <div class="row d-flex align-items-start me-2 w-100">
              <div class="col-md-10">
                <h5 class="fw-bold mb-2 <%= muted %>">Order #<%= order.id %></h5>

                <% total = 0 %>
                <% order.products.each {|p| total += p.price } %>
                <p class="m-0 <%= muted %>"><%= order.table %>, <%= order.status.humanize %>, Total: <%= currency_symbol %><%= total %></p>
              </div>

              <div class="col-md-2 text-end mt-2">
                <%= link_to edit_order_path(order), { class: 'btn btn-sm btn-secondary', title: 'Edit' } do %>
                  <i class='bi bi-pencil'></i>
                <% end %>
                <% if order.status != 'closed' && order.status != 'canceled' %>
                  <%= link_to close_order_path(order), { class: 'btn btn-sm btn-success', title: 'Close',
                      data: { confirm: 'Are you sure?' } } do %>
                    <i class='bi bi-check'></i>
                  <% end %>
                  <%= link_to cancel_order_path(order), { class: 'btn btn-sm btn-danger', title: 'Cancel',
                      data: { confirm: 'It cannot be undone. Are you sure?' } } do %>
                    <i class='bi bi-trash'></i>
                  <% end %>
                <% elsif order.status == 'closed' %>
                  <%= link_to reopen_order_path(order), { class: 'btn btn-sm btn-warning', title: 'Reopen',
                      data: { confirm: 'Are you sure?' } } do %>
                    <i class='bi bi-recycle'></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </button>
        </h2>
        <div id="collapse<%= order.id %>" class="accordion-collapse collapse" aria-labelledby="heading<%= order.id %>"
            data-bs-parent="#accordionFlushOrders">
          <div class="accordion-body">
            <ul class="list-group">
              <% order.order_products.each do |order_product| %>
                <% registered = order_product.quantity - order_product.making - order_product.done %>
                <% percentage_registered = registered == 0 ? 0 : (100*order_product.done)/registered %>
                <% percentage_making = (100*order_product.making)/order_product.quantity %>
                <% percentage_done = (100*order_product.done)/order_product.quantity %>

                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-3 w-100 <%= muted %>">
                    <div class="fw-bold me-1">
                      <%= order_product.product.name %> - <%= humanized_money_with_symbol order_product.product.price %>
                    </div>

                    <div class="progress w-25 <%= 'mb-2' unless order_product.note.blank? %>" style="height: 2px;">
                      <div class="progress-bar bg-success" role="progressbar" style="width: <%= percentage_done %>%"
                          aria-valuenow="<%= percentage_done %>" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <%= order_product.note %>
                  </div>
                  <span class="badge bg-primary rounded-pill <%= 'bg-secondary' if muted %>"><%= order_product.quantity %></span>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="row mt-4">
  <div class="col">
    <%= paginate(@orders) %>
  </div>
</div>