<%= form_for(@work_shift) do |f| %>
  <% if @work_shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_shift.errors.count, "error") %> prohibited this work_shift from being saved:</h2>

      <ul>
      <% @work_shift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.select :name, @names, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :start_at %><br>
    <%= text_field_tag :start_at, @work_shift.start_at.strftime(I18n.t('time.formats.short')), disabled: 'disabled' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
