<div class='row justify-content-center'>
  <div class='col-md-9 col-lg-10'>
    <% if notice %>
      <div class="alert alert-success alert-dismissible fade show p-2" role="alert">
        <p id="notice" class="m-1"><%= notice %>Login efetuado com sucesso.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="padding: 1rem 1rem !important"></button>
      </div>
    <% end %>

    <div class='table-responsive'>
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Start at</th>
            <th>End at</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <% if @work_shifts.count > 0 %>

            <% @work_shifts.each do |work_shift| %>
              <tr>
                <td>#<%= work_shift.id %></td>
                <td><%= work_shift.name %></td>
                <td><%= I18n.l(work_shift.start_at, format: I18n.t('time.formats.separate_bar'))  %></td>
                <td><%= I18n.l(work_shift.end_at, format: I18n.t('time.formats.separate_bar')) unless work_shift.end_at.blank? %></td>
                <% if work_shift.end_at.blank? %>
                    <td>
                      <%= link_to 'Close', close_work_shift_path(work_shift), { class: 'btn btn-primary btn-sm', data: { 
                          confirm: 'Closing the work shift will prevent you from placing new orders until another 
                                    shift is opened. Are you sure?' } } %>
                    </td>
                  <% else %>
                    <td> 
                      <%= link_to 'Reopen', reopen_work_shift_path(work_shift), { class: 'btn btn-primary btn-sm', data: { 
                          confirm: 'This will allow you to enter new orders for that work shift. Are you sure?' } } %>
                    </td>
                <% end %>
              </tr>
            <% end %>

          <% else %>
            <tr><td colspan="5" class="text-center text-muted">
              No records were found. You can register if you want...
            </td></tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>