<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @work_shift.name %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @work_shift.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @work_shift.end_at %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @work_shift.restaurant %>
</p>

<%= link_to 'Edit', edit_work_shift_path(@work_shift) %> |
<%= link_to 'Back', work_shifts_path %>
