<style>
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
</style>

<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-5">
    <%= f.label :table, { class: 'form-label' } %>
    <%= f.select :table, @tables, { prompt: true }, { class: 'form-select' }%>
    <%# f.collection_select :table, @tables, :id, :name, { prompt: true }, { class: 'form-select' } %>
  </div>

  <% cont = 0 %>

  <% @categories.each do |category| %>

    <div class="mt-4">
      <b><%= category.name.humanize %></b>
      <div class="dropdown-divider w-50 mb-1 ms-0 me-1 mt-1"></div>
    </div>

    <ul class="list-group list-group-flush mb-3">
      <%= f.fields_for :order_products, @order.order_products.select { 
          |order_product| order_product.product.category_id == category.id } do |order_product| %>

        <% name_number_field = "#{order_product.object_name.to_s}[quantity]" %>
        <% cont += 1 %>

        <li class="list-group-item">
          <div class="row g-4">
            <%= order_product.hidden_field :product_id %>
            <div class="col-md-1 text-end d-flex flex-column justify-content-center">
              <button type="button" class="btn btn-ligth btn-sm" data-bs-toggle="modal" title="Note"
                      data-bs-target="#noteModal<%=order_product.object.product.id%>">
                <i class="bi bi-pencil-square"></i>
              </button>

              <!-- Modal -->
              <div class="modal fade" id="noteModal<%=order_product.object.product.id%>" tabindex="-1"
                   aria-labelledby="noteModalLabel<%=order_product.object.product.id%>" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header pt-2 pb-2">
                      <h5 class="modal-title" id="noteModalLabel<%=order_product.object.product.id%>"><%= order_product.label :note %></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <%= order_product.text_area :note, { class: 'form-control', rows: '3' } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-5 d-flex flex-column justify-content-center">
              <%= order_product.object.product.name %>
            </div>

            <div class="col-md-2 d-flex flex-column justify-content-center">
              <%= humanized_money_with_symbol order_product.object.product.price %>
            </div>

            <div class="col-md-4 text-end" style="display: block ruby !important;">
              <button type="button" onclick="document.querySelector('input[name=\'<%= name_number_field %>\'').stepDown()"
                      class="btn btn-dark btn-sm">
                <i class="bi bi-dash"></i>
              </button>

              <%= order_product.number_field :quantity, { class: 'form-control', style: 'width: 40%; text-align: center;',
                  min: (order_product.object.making + order_product.object.done) } %>
              
              <button type="button" onclick="document.querySelector('input[name=\'<%= name_number_field %>\'').stepUp()"
                      class="btn btn-dark btn-sm">
                <i class="bi bi-plus"></i>
              </button>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>

  <div class="actions">
    <%= f.submit "#{params[:action].humanize} #{@order.class.to_s.humanize}",
        { class: 'btn btn-primary mb-3' } %>
  </div>
<% end %>
