<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :table %><br>
    <%= f.select :table, @tables, prompt: true %>
  </div>

  <div class="field">
    <%= f.label :order_products %><br><br>
    <% @categories.each do |category| %>
      <table border="1">
        <thead>
          <tr>
            <th colspan="4"><%= category.name %></th>
          </tr>
          <tr>
            <th>Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Note</th>
          </tr>
        </thead>

        <tbody>
          <%= f.fields_for :order_products, @order.order_products.select {|order_product| order_product.product.category_id == category.id} do |order_product| %>
            <tr>
              <%= order_product.hidden_field :product_id %>
              <td><%= order_product.object.product.name %></td>
              <td><%= order_product.object.product.price %></td>
              <td><%= order_product.number_field :quantity, min: 0, size: 10 %></td>
              <td><%= order_product.text_area :note %></td>
            </tr>
          <% end %>
        </tbody>
      </table><br>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
