<div class='row justify-content-center'>
  <div class='col-md-9 col-lg-10'>
    <% if notice %>
      <div class="alert alert-success alert-dismissible fade show p-2" role="alert">
        <p id="notice" class="m-1"><%= notice %></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="padding: 1rem 1rem !important"></button>
      </div>
    <% end %>

    <%= form_tag orders_path, method: :get do %>
      <div class="card mb-5">
        <div class="card-body row g-3">
          <div class="col-md-5">
            <%= label_tag :table, 'Table', { class: 'form-label' } %>
            <%= select_tag :table, options_for_select(@domains[:tables], params[:table]),
                { class: 'form-select', prompt: 'Select an option' } %>
          </div>
          <div class="col-md-5">
            <%= label_tag :status, 'Status', { class: 'form-label' } %>
            <%= select_tag :status, options_for_select(@domains[:statuses], params[:status]),
                { class: 'form-select', prompt: 'Select an option' } %>
          </div>
          <div class="col-md-2 align-self-end">
            <%= submit_tag "Search", { class: 'btn btn-secondary' } %>
            <%= link_to orders_path, { class: 'btn btn-light', title: "Reset" } do %>
              <i class='bi bi-x-lg text-secondary'></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <%= render "orders/report/orders" %>

  </div>
</div>
