<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>
<h3>
  Hello <%= current_user.restaurant.name if user_signed_in? %> <br>
  Turno aberto: 
  <% if has_open_work_shift? %>
    <%= current_work_shift.name %>
  <% else %>
    <%= 'none' %>
  <% end %>
</h3>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Table</th>
      <th>Status</th>
      <th>Work Shift</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.table %></td>
        <td><%= order.status %></td>
        <td><%= order.work_shift.name %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <% if order.status != 'closed' || order.status != 'canceled' %>
            <td>
              <%= link_to 'Close', close_order_path(order), 'original-title': 'Close',
              data: { confirm: 'Are you sure?' } %>
            </td>
            <td>
              <%= link_to 'Cancel', cancel_order_path(order), 'original-title': 'Cancel',
              data: { confirm: 'It cannot be undone. Are you sure?' } %>
            </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %><br>
<%= link_to 'Edit User', edit_user_registration_path %><br>
<%= link_to 'Log out', destroy_user_session_path, method: :delete if user_signed_in? %><br>