<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id %>

  <div class="mb-3">
    <%= f.label :name, { class: 'form-label' } %>
    <%= f.text_field :name, { class: 'form-control' } %>
  </div>
  <div class="mb-3">
    <%= f.label :owner, { class: 'form-label' } %>
    <%= f.text_field :owner, { class: 'form-control' } %>
  </div>
  <div class="actions">
    <%= f.submit "#{params[:action].humanize} #{@restaurant.class.to_s.humanize}",
        { class: 'btn btn-primary mb-3' } %>
  </div>
<% end %>
