<p id="notice"><%= notice %></p>

<h1>Listing Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Active</th>
      <th>User</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.owner %></td>
        <td><%= restaurant.active %></td>
        <td><%= restaurant.user.email %></td>
        <td><%= link_to 'Show', restaurant %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <% if restaurant.active? %>
            <td>
              <%= link_to 'Disable', deactivate_restaurant_path(restaurant), "original-title": "Desativar",
                  data: { confirm: 'Disabling this restaurant results in loss of user access. Are you sure?' } %>
            </td>
          <% else %>
            <td> 
              <%= link_to 'Activate', activate_restaurant_path(restaurant), "original-title": "Ativar",
                  data: { confirm: "Reactivating this restaurant results in your user's access permission. Are you sure?" } %>
            </td>
        <% end %>
        <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
