<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-8 mb-3">
      <%= f.label :name, { class: 'form-label' } %>
      <%= f.text_field :name, { class: 'form-control' } %>
    </div>
    <div class="col-md-4 align-self-end mb-3 pb-1">
      <div class="form-check form-switch">
        <%= f.label :see_in_kitchen, { class: 'form-check-label' } %>
        <%= f.check_box :see_in_kitchen, { class: 'form-check-input' } %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "#{params[:action].humanize} #{@category.class.to_s.humanize}", { class: 'btn btn-primary mb-3' } %>
  </div>
<% end %>
