<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th>See in kitchen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.active %></td>
        <td><%= category.see_in_kitchen %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <% if category.active? %>
            <td>
              <%= link_to 'Disable', deactivate_category_path(category), "original-title": "Desativar",
              data: { confirm: 'Disabling the category will cause your products to be disabled as well. Are you sure?' } %>
            </td>
          <% else %>
            <td> 
              <%= link_to 'Activate', activate_category_path(category), "original-title": "Ativar",
              data: { confirm: 'Reactivating the category will cause your products to be reactivated as well. Are you sure?' } %>
            </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>
