<div class='row justify-content-center'>
  <div class='col-md-9 col-lg-10'>
    <% if notice %>
      <div class="alert alert-success alert-dismissible fade show p-2" role="alert">
        <p id="notice" class="m-1"><%= notice %>Login efetuado com sucesso.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="padding: 1rem 1rem !important"></button>
      </div>
    <% end %>

    <div class='table-responsive'>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th colspan='3' style='width:12%'>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% if @categories.active.count > 0 %>

            <% @categories.active.each do |category| %>
              <tr>
                <td><%= category.name %></td>
                <td>
                  <%= link_to edit_category_path(category), { class: 'btn btn-sm btn-secondary', title: 'Edit' } do %>
                    <i class='bi bi-pencil'></i>
                  <% end %>
                </td>
                <td>
                  <% if category.see_in_kitchen %>
                    <%= link_to seeing_in_kitchen_category_path(category), { class: 'btn btn-sm btn-secondary',
                        title: 'Don\'t See in kitchen', data: { confirm: 'Are you sure?' } } do %>
                        <i class='bi bi-eye-slash'></i>
                    <% end %>
                  <% else %>
                    <%= link_to seeing_in_kitchen_category_path(category), { class: 'btn btn-sm btn-secondary',
                        title: 'See in kitchen', data: { confirm: 'Are you sure?' } } do %>
                        <i class='bi bi-eye'></i>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <%= link_to deactivate_category_path(category), { class: 'btn btn-sm btn-danger', title: 'Deactivate',
                      data: { confirm: 'Disabling the category will cause your products to be disabled as well. Are you sure?' } } do %>
                    <i class='bi bi-trash'></i>
                  <% end %>
                </td>
              </tr>
            <% end %>

            <% @categories.deactivate.each do |category| %>
              <tr class='text-muted'>
                <td><%= category.name %></td>
                <td>
                  <%= link_to edit_category_path(category), { class: 'btn btn-sm btn-secondary', title: 'Edit' } do %>
                    <i class='bi bi-pencil'></i>
                  <% end %>
                </td>
                <td>
                  <% if category.see_in_kitchen %>
                    <%= link_to seeing_in_kitchen_category_path(category), { class: 'btn btn-sm btn-secondary',
                        title: 'Don\'t See in kitchen', data: { confirm: 'Are you sure?' } } do %>
                        <i class='bi bi-eye-slash'></i>
                    <% end %>
                  <% else %>
                    <%= link_to seeing_in_kitchen_category_path(category), { class: 'btn btn-sm btn-secondary',
                        title: 'See in kitchen', data: { confirm: 'Are you sure?' } } do %>
                        <i class='bi bi-eye'></i>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <%= link_to activate_category_path(category), { class: 'btn btn-sm btn-danger', title: 'Activate',
                      data: { confirm: "Reactivating the category will cause your products to be reactivated as well. Are you sure?" } } do %>
                    <i class='bi bi-recycle'></i>
                  <% end %>
                </td>
              </tr>
            <% end %>

          <% else %>
            <tr><td colspan="5" class="text-center text-muted">
              No records were found. You can register if you want...
            </td></tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>