<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :name, { class: 'form-label' } %>
    <%= f.text_field :name, { class: 'form-control' } %>
  </div>
  <div class="row mb-3">
    <div class="col-md-5">
      <%= f.label :price, { class: 'form-label' } %>
      <div class="input-group">
        <span class="input-group-text"><%= currency_symbol %></span>
        <%= f.text_field :price, { class: 'form-control' } %>
      </div>
    </div>
    <div class="col-md-7">
      <%= f.label :category_id, { class: 'form-label' } %>
      <%= f.collection_select :category_id, @categories, :id, :name, { prompt: true }, { class: 'form-select' } %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "#{params[:action].humanize} #{@product.class.to_s.humanize}",
        { class: 'btn btn-primary mb-3' } %>
  </div>
<% end %>
