<div class='row justify-content-center'>
  <div class='col-md-6 col-lg-7'>
    <h4 class="mb-3">New Restaurant</h4>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <%= f.fields_for :restaurant do |restaurant| %>
        <div class="mb-3">
          <%= restaurant.label :name, { class: 'form-label' } %>
          <%= restaurant.text_field :name, { class: 'form-control', autofocus: true } %>
        </div>
        <div class="mb-3">
          <%= restaurant.label :owner, { class: 'form-label' } %>
          <%= restaurant.text_field :owner, { class: 'form-control' } %>
        </div><br>
      <% end %>

      <div class="mb-3">
        <%= f.label :email, { class: 'form-label' } %>
        <%= f.email_field :email, { class: 'form-control', autocomplete: "email" } %>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <%= f.label :password, { class: 'form-label' } %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, { class: 'form-control', autocomplete: "new-password" } %>
        </div>

        <div class="col-md-6">
          <%= f.label :password_confirmation, { class: 'form-label' } %>
          <%= f.password_field :password_confirmation, { class: 'form-control', autocomplete: "new-password" } %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", { class: 'btn btn-primary mb-3' } %>
      </div>
    <% end %>

    <%# render "users/shared/links" %>

  </div>
</div>